<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.dao.FollowDao">
  
  <select id="queryByUserId" parameterType="java.lang.Integer" resultType="com.game.entity.Follow">
   select * from follow where userId=#{userId}
  </select>

  <insert id="add" parameterType="com.game.entity.Follow" useGeneratedKeys="true" keyProperty="id">
     insert into follow(followId,userId) values (#{followId},#{userId})
  </insert>
  
  <delete id="delete" parameterType="java.lang.Integer">
    delete from follow where id=#{id}
  </delete>
  
  <!-- 查询粉丝数量 -->
  <select id="queryFenSiCount" parameterType="java.util.List" resultType="com.game.vo.FollowFenSiVo">
   SELECT f.`followId`,COUNT(id) `count` FROM `follow` f 
   WHERE f.`followId` IN (
      <foreach collection="list" item="id" index="index" separator=",">
         ${id}
      </foreach>
    )
   GROUP BY f.`followId`
  </select>
  
</mapper>